<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dem.login.mapper.LoginMapper">

<!-- 查询用户对应所有菜单权限代码 -->
<select id="menucodeListSelect"  parameterType="String"  resultType="Map" >
	select ss_privilege.menu_id,ss_menu.menu_mc,ss_privilege.userid 
	from ss_privilege left join ss_menu on ss_privilege.menu_id = ss_menu.menu_id 
	where userid = #{userid} AND ss_menu.yxbz = 'Y'
</select>

<!-- 用户登录验证 -->
<select id="loginnerSelect"  parameterType="dem.login.model.Loginner"  resultType="dem.login.model.Loginner" >
	SELECT * 
	FROM ss_user 
	WHERE userpass = #{userpass}
	AND  userid = #{userid} 
	AND  userzt = '0'
</select>

<!-- 获取菜单 -->
<select id="menusSelect"  parameterType="Map"  resultType="Map" >
	SELECT yxbz,menu_mc,menu_pid,tjpx, menu_id,menu_cj,menu_url
	FROM ss_menu 
	WHERE menu_pid = #{menucode}
	AND yxbz = 'Y'
	AND menu_id in (select menu_id from ss_privilege where userid = #{userid})
	ORDER BY tjpx
</select>

<!-- 获取气象数据是否存在最新时间 -->
<select id="newTimeCount"  parameterType="String"  resultType="int" >
	SELECT count(*)
	FROM zdgl_qxsj 
	WHERE qxsjsj_2 &gt; #{lasttime}
</select>
<!-- 获取气象数据最新时间点数据是否有新数据 -->
<select id="newTimeNoteCount"  parameterType="String"  resultType="int" >
	SELECT count(*)
	FROM zdgl_qxsj 
	WHERE qxsjsj_2 = #{lasttime}
</select>
<!-- 获取气象数据最新数据的时间 -->
<select id="newTimelistQuery"  resultType="Map" >
	select qxsjsj_2 as timepoint,count(*) as timenotes
	from zdgl_qxsj
	group by qxsjsj_2 
	order by qxsjsj_2 desc
	limit 0,12
</select>

</mapper>