@CHARSET "UTF-8";

body{
	padding-left: 5px;
	padding-right: 5px;
	height: 100%;
	background-color: #E0F2F7;
}

#data_table tr>th{
	text-align: center;
}
#data_table tr>td{
	text-align: center;
}
#condition_table tr>th{
	text-align: right;
}
#greyground{
	display:none;
	width:100%;
	height:100%;
	background-color: #CFCFCF;
	filter: Alpha(Opacity=50);
 	-moz-opacity:0.8; 
    	opacity:0.8; 

 	background-position:center;
	z-index:1110;
	position:fixed;
	top:0px;
	left:0px;
}
#loading{
	position: absolute;
	top: 30%;
	left: 40%;
	transform: translate(-30%, -15%);
	display:none;
	background-color: #E0F2F7;
	filter: Alpha(Opacity=100);
 	-moz-opacity:1; 
    	opacity:1;
	z-index:1111;
}
#greyground2{
	display:none;
	width:100%;
	height:100%;
	background-color: #CFCFCF;
	filter: Alpha(Opacity=50);
 	-moz-opacity:0.8; 
    	opacity:0.8; 

 	background-position:center;
	z-index:1114;
	position:fixed;
	top:0px;
	left:0px;
}
#loading2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(0%, 0%);
	display:none;
	background-color: #E0F2F7;
	filter: Alpha(Opacity=100);
 	-moz-opacity:1; 
    	opacity:1;
	z-index:1115;
}
.floatarea{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(0%, 0%);
	display:none;
	background-color: #E0F2F7;
	filter: Alpha(Opacity=100);
 	-moz-opacity:1; 
    	opacity:1;
	z-index:1112;
	border: 1px solid black;
	max-width: 800px;
	max-height: 500px;
	overflow: auto;
}
.floatarea_append{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(0%, 0%);
	display:none;
	background-color: #E0F2F7;
	filter: Alpha(Opacity=100);
 	-moz-opacity:1; 
    	opacity:1;
	z-index:1116;
	border: 1px solid black;
	max-width: 800px;
	max-height: 500px;
	overflow: auto;
}
#grant{
	overflow: scroll;
}
input.sel{
	width: 170px;
	margin: 0px 0px 0px 0px;
}
select.sel{
	width: 170px;
	margin: 0px 0px 0px 0px;
}

#top_title{
	width: 99%;
	position: fixed;
	top: 3px;
	margin-right: 0px;
}
#top_condition{
	width: 100%;
	position: fixed;
	top: 42px;
}
#bottom_pagging{
	width: 99%;
	position: fixed;
	bottom: 3px;
}
#data_table{
	margin-bottom: 0px;
}


