<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dem.jcxx.mapper.JcxxMapper">


<!-- 条件查询系统操作人员 -->
<select id="userlistQuery" parameterType="dem.jcxx.model.UserQueryCondition" resultType="Map">
	select userid,ss_user.mc mc,ss_user.jgid jgid,ss_jg.mc jgmc,tel,userzt,ss_user.note note,date_format(ss_user.lrrq,'%Y年%m月%d日') as lrrq 
	from ss_user left join ss_jg on ss_user.jgid = ss_jg.jgid
	where 1=1 
	<if test="userid != null and userid != ''">
		and userid like "%"#{userid}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and ss_user.mc like "%"#{mc}"%" 
	</if>
	<if test="jgid != null and jgid != ''">
		and ss_user.jgid like "%"#{jgid}"%" 
	</if>
	<if test="jgmc != null and jgmc != ''">
		and ss_jg.mc like "%"#{jgmc}"%" 
	</if>
	<if test="tel != null and tel != ''">
		and tel like "%"#{tel}"%" 
	</if>
	<if test="userzt != null and userzt != ''">
		and userzt = #{userzt}
	</if>
	<!-- <if test="lrrq_start != null and lrrq_start != ''">
		and lrrq &gt; to_date(#{lrrq_start},"YYYY-mm-dd") 
	</if>
	<if test="lrrq_end != null and lrrq_end != ''">
		and lrrq &lt; to_date(#{lrrq_end},"YYYY-mm-dd")  
	</if> -->
	and userid != '000000'
	${sql_paging_sort}
</select>
<select id="userCount" parameterType="dem.jcxx.model.UserQueryCondition" resultType="int">
	select count(*) from ss_user
	where 1=1 
	<if test="userid != null and userid != ''">
		and userid like "%"#{userid}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and mc like "%"#{mc}"%" 
	</if>
	<if test="jgid != null and jgid != ''">
		and jgid like "%"#{jgid}"%" 
	</if>
	<if test="tel != null and tel != ''">
		and tel like "%"#{tel}"%" 
	</if>
	<if test="userzt != null and userzt != ''">
		and userzt = #{userzt}
	</if>
	and userid != '000000'
</select>
<select id="departmentCount" parameterType="dem.jcxx.model.JgQueryCondition" resultType="int">
	select count(*) from ss_jg
	where 1=1 
	<if test="jgid != null and jgid != ''">
		and jgid like "%"#{jgid}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and mc like "%"#{mc}"%" 
	</if>
	<if test="jglx != null and jglx != ''">
		and jglx = #{jglx} 
	</if>
	<if test="jgqy != null and jgqy != ''">
		and jgqy = #{jgqy} 
	</if>
	<if test="jgzt != null and jgzt != ''">
		and jgzt = #{jgzt} 
	</if>
	and jglx != '0' and jglx != '3'
</select>
<select id="countJgid" parameterType="dem.login.model.Department" resultType="int">
	select count(*) from ss_jg
	where 1=1 and jgid = #{jgid} 
</select>
<select id="yjzCount" parameterType="dem.jcxx.model.YjzwhObject" resultType="int">
	select count(*) 
	from ss_yjfl s1 left join ss_jg s2 on s1.jgid=s2.jgid
	where 1=1 
	<if test="jgid != null and jgid != ''">
		and s1.jgid like "%"#{jgid}"%" 
	</if>
	<if test="jgmc != null and jgmc != ''">
		and s2.mc like "%"#{jgmc}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and s1.mc like "%"#{mc}"%" 
	</if>
	<if test='yjlx == "2"'>
		and s1.jgid = '0000'
	</if>
	<if test='yjlx == "1"'>
		and s1.jgid != '0000'
	</if>
</select>

<select id="getLastUserid" parameterType="String" resultType="String">
	select userid from ss_user order by userid desc limit 1
</select>

<insert id="addUser" parameterType="dem.login.model.Loginner" keyColumn="userid">
	insert into ss_user(userid,mc,userpass,jgid,tel,userzt,note,lrrq) values(#{userid},#{mc},#{userpass},#{jgid},#{tel},'0',#{note},now())
</insert>

<update id="updateUser" parameterType="dem.login.model.Loginner">
	update ss_user
	set mc = #{mc},
		jgid = #{jgid},
		tel = #{tel},
		note = #{note}
	where userid = #{userid}
</update>

<update id="removeUser" parameterType="dem.login.model.Loginner">
	update ss_user
	set userzt = '1'
	where userid = #{userid}
</update>

<select id="getMenusList" parameterType="dem.login.model.Loginner" resultType="Map">
	select menu_id,menu_mc,menu_pid,tjpx from ss_menu where yxbz = 'Y' ORDER BY tjpx
</select>

<select id="getUserMenusList" parameterType="dem.login.model.Loginner" resultType="Map">
	select menu_id from ss_privilege where userid = #{userid}
</select>

<delete id="deleteUserMenus" parameterType="String">
	delete from ss_privilege where userid = #{usercode}
</delete>

<insert id="setUserMenus" parameterType="Map">
	insert into ss_privilege(userid,menu_id) values(#{usercode},#{menucode})
</insert>

<select id="userPasswordSelect"  parameterType="String"  resultType="String" >
	SELECT userpass 
	FROM ss_user 
	where  userid = #{userid} 
</select>
<update id="userPasswordSet" parameterType="Map">
	update ss_user
	set userpass = #{newpassword}
	where userid = #{userid}
</update>

<!-- 条件查询系统站点/部门 -->
<select id="jglistQuery" parameterType="dem.jcxx.model.JgQueryCondition" resultType="Map">
	select s1.jgid jgid,s1.mc mc,s1.jglx jglx,s2.mc jglxmc,s1.jgqy jgqy,s3.mc jgqymc,jgjd,jgwd,jghb,jgdz,jglxr,jglxdh,jgzt,note,jgys,azr,date_format(lrrq,'%Y年%m月%d日') as lrrq 
	from ss_jg s1 left join ss_jglx s2 on s1.jglx=s2.jglx
				  left join ss_jgqy s3 on s1.jgqy=s3.jgqy
	where 1=1 
	<if test="jgid != null and jgid != ''">
		and s1.jgid like "%"#{jgid}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and s1.mc like "%"#{mc}"%" 
	</if>
	<if test="jglx != null and jglx != ''">
		and s1.jglx = #{jglx} 
	</if>
	<if test="jgqy != null and jgqy != ''">
		and s1.jgqy = #{jgqy} 
	</if>
	<if test="jgzt != null and jgzt != ''">
		and jgzt = #{jgzt} 
	</if>
	and s1.jglx != '0' and s1.jglx != '3'
	${sql_paging_sort}
</select>

<select id="jglxlistQuery" parameterType="String" resultType="Map">
	select jglx,mc from ss_jglx where jglx != '0' and jglx != '3'
</select>
<select id="jgqylistQuery" parameterType="String" resultType="Map">
	select jgqy,mc from ss_jgqy
</select>

<select id="getLastJgid" parameterType="String" resultType="String">
	select jgid from ss_jg where jglx=#{jglx} order by jgid desc limit 1
</select>

<insert id="addJg" parameterType="dem.login.model.Department" keyColumn="jgid">
	insert into ss_jg(jgid,mc,jglx,jgqy,jgjd,jgwd,jghb,jgdz,jglxr,jglxdh,jgzt,note,lrrq) values(#{jgid},#{mc},#{jglx},#{jgqy},#{jgjd},#{jgwd},#{jghb},#{jgdz},#{jglxr},#{jglxdh},'0',#{note},now())
</insert>
<update id="updateJg" parameterType="dem.login.model.Department">
	update ss_jg
	set mc = #{mc},
		jgqy = #{jgqy},
		jgjd = #{jgjd},
		jgwd = #{jgwd},
		jghb = #{jghb},
		jgdz = #{jgdz},
		jglxr = #{jglxr},
		jglxdh = #{jglxdh},
		note = #{note}
	where jgid = #{jgid}
</update>
<update id="removeJg" parameterType="dem.login.model.Department">
	update ss_jg
	set jgzt = '1'
	where jgid = #{jgid}
</update>

<!-- 条件查询预警信息 -->
<select id="yjlistQuery" parameterType="dem.jcxx.model.YjzwhObject" resultType="Map">
	select yjid,s1.jgid jgid,s1.mc mc,yjz,s1.note note,s2.mc jgmc
	from ss_yjfl s1 left join ss_jg s2 on s1.jgid=s2.jgid
	where 1=1 
	<if test="jgid != null and jgid != ''">
		and s1.jgid like "%"#{jgid}"%" 
	</if>
	<if test="jgmc != null and jgmc != ''">
		and s2.mc like "%"#{jgmc}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and s1.mc like "%"#{mc}"%" 
	</if>
	<if test='yjlx == "2"'>
		and s1.jgid = '0000'
	</if>
	<if test='yjlx == "1"'>
		and s1.jgid != '0000'
	</if>
	${sql_paging_sort}
</select>

<update id="updateYj" parameterType="dem.jcxx.model.YjzwhObject">
	update ss_yjfl
	set yjz = #{yjz},
		note = #{note}
	where jgid = #{jgid} 
		and yjid = #{yjid} 
		and mc = #{mc}
</update>

<!-- 查询设备分类类别 -->
<select id="sblblistQuery" parameterType="String" resultType="Map">
	select sbflid,sbcj,fsbflid,sfzl,sblbmc,sbtpdz
	from ss_sbfl
	where yxbz='Y' 
	order by sbcj
</select>
<!-- 获取当前分类下最大子类序号 -->
<select id="getLastSbflid" parameterType="dem.jcxx.model.SbflwhObject" resultType="String">
	select sbflid
	from ss_sbfl
	where fsbflid = #{fsbflid} and sbcj = #{sbcj}
	order by sbflid desc 
	limit 1
</select>
<insert id="sblbInsert" parameterType="dem.jcxx.model.SbflwhObject" keyColumn="sbid">
	insert into ss_sbfl(sbflid,sbcj,fsbflid,sfzl,sblbmc,sbtpdz,yxbz) values(#{sbflid},#{sbcj},#{fsbflid},'1',#{sblbmc},#{sbtpdz},'Y')
</insert>
<update id="sblbDelete" parameterType="dem.jcxx.model.SbflwhObject">
	update ss_sbfl
	set yxbz = 'N'
	where sbflid = #{sbflid}
</update>
<update id="sblbUpdate" parameterType="dem.jcxx.model.SbflwhObject">
	update ss_sbfl
	set sblbmc = #{sblbmc}
	where sbflid = #{sbflid}
</update>
<update id="updatesfzl" parameterType="dem.jcxx.model.SbflwhObject">
	update ss_sbfl
	set sfzl = '0'
	where sbflid = #{fsbflid}
</update>

<select id="findchildren" parameterType="List" resultType="String">
	select group_concat(fsbflidarr) fsbflidarray from (select fsbflid,group_concat(sbflid) fsbflidarr from ss_sbfl where yxbz='Y' group by fsbflid) s1 where fsbflid in 
	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
    	#{item}
    </foreach>
</select>
<select id="countsbrkwithsbflid" parameterType="List" resultType="int">
	select count(*) from sbgl_sbrk where sbflid in 
	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
    	#{item}
    </foreach>
</select>

</mapper>