<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dem.jcxx.mapper.JcxxMapper">


<!-- 条件查询系统操作人员 -->
<select id="userlistQuery" parameterType="dem.jcxx.model.UserQueryCondition" resultType="Map">
	select userid,mc,jgid,tel,userzt,note,date_format(lrrq,'%Y-%m-%d %H:%i:%s') as lrrq 
	from ss_user
	where 1=1 
	<if test="userid != null and userid != ''">
		and userid like "%"#{userid}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and mc like "%"#{mc}"%" 
	</if>
	<if test="jgid != null and jgid != ''">
		and jgid like "%"#{jgid}"%" 
	</if>
	<if test="tel != null and tel != ''">
		and tel like "%"#{tel}"%" 
	</if>
	<if test="userzt != null and userzt != ''">
		and userzt = #{userzt}
	</if>
	<!-- <if test="lrrq_start != null and lrrq_start != '' and lrrq_start like '%-%-%'">
		and lrrq &gt; to_date(#{lrrq_start},"YYYY-mm-dd") 
	</if>
	<if test="lrrq_end != null and lrrq_end != '' and lrrq_end like '%-%-%'">
		and lrrq &lt; to_date(#{lrrq_end},"YYYY-mm-dd")  
	</if> -->
	${sql_paging_sort}
</select>
<select id="userCount" parameterType="dem.jcxx.model.UserQueryCondition" resultType="int">
	select count(*) from ss_user
	where 1=1 
	<if test="userid != null and userid != ''">
		and userid like "%"#{userid}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and mc like "%"#{mc}"%" 
	</if>
	<if test="jgid != null and jgid != ''">
		and jgid like "%"#{jgid}"%" 
	</if>
	<if test="tel != null and tel != ''">
		and tel like "%"#{tel}"%" 
	</if>
	<if test="userzt != null and userzt != ''">
		and userzt = #{userzt}
	</if>
</select>
<select id="departmentCount" parameterType="dem.jcxx.model.JgQueryCondition" resultType="int">
	select count(*) from ss_jg
	where 1=1 
	<if test="jgid != null and jgid != ''">
		and jgid like "%"#{jgid}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and s1.mc like "%"#{mc}"%" 
	</if>
</select>
<select id="yjzCount" parameterType="dem.jcxx.model.YjzwhObject" resultType="int">
	select count(*) from ss_yjfl
	where 1=1 
	<if test="jgid != null and jgid != ''">
		and jgid like "%"#{jgid}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and mc like "%"#{mc}"%" 
	</if>
	<if test="yjid != null and yjid != ''">
		and yjid = #{yjid} 
	</if>
</select>

<select id="getLastUserid" parameterType="String" resultType="String">
	select userid from ss_user order by userid desc limit 1
</select>

<insert id="addUser" parameterType="dem.login.model.Loginner" keyColumn="userid">
	insert into ss_user(userid,mc,userpass,jgid,tel,userzt,note,lrrq) values(#{userid},#{mc},#{userpass},#{jgid},#{tel},'0',#{note},now())
</insert>

<update id="updateUser" parameterType="dem.login.model.Loginner">
	update ss_user
	set mc = #{mc},
		jgid = #{jgid},
		tel = #{tel},
		note = #{note}
	where userid = #{userid}
</update>

<update id="removeUser" parameterType="dem.login.model.Loginner">
	update ss_user
	set userzt = '1'
	where userid = #{userid}
</update>

<select id="getMenusList" parameterType="dem.login.model.Loginner" resultType="Map">
	select menu_id,menu_mc,menu_pid,tjpx from ss_menu ORDER BY tjpx
</select>

<select id="getUserMenusList" parameterType="dem.login.model.Loginner" resultType="Map">
	select menu_id from ss_privilege where userid = #{userid}
</select>

<delete id="deleteUserMenus" parameterType="String">
	delete from ss_privilege where userid = #{usercode}
</delete>

<insert id="setUserMenus" parameterType="Map">
	insert into ss_privilege(userid,menu_id) values(#{usercode},#{menucode})
</insert>

<select id="userPasswordSelect"  parameterType="String"  resultType="String" >
	SELECT userpass 
	FROM ss_user 
	where  userid = #{userid} 
</select>
<update id="userPasswordSet" parameterType="Map">
	update ss_user
	set userpass = #{newpassword}
	where userid = #{userid}
</update>

<!-- 条件查询系统站点/部门 -->
<select id="jglistQuery" parameterType="Map" resultType="Map">
	select s1.jgid jgid,s1.mc mc,s1.jglx jglx,s2.mc jglxmc,s1.jgqy jgqy,s3.mc jgqymc,jgjd,jgwd,jghb,jgdz,jglxr,jglxdh,jgzt,note,date_format(lrrq,'%Y-%m-%d %H:%i:%s') as lrrq 
	from ss_jg s1 left join ss_jglx s2 on s1.jglx=s2.jglx
				  left join ss_jgqy s3 on s1.jgqy=s3.jgqy
	where 1=1 
	<if test="jgid != null and jgid != ''">
		and jgid like "%"#{jgid}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and s1.mc like "%"#{mc}"%" 
	</if>
	${sql_paging_sort}
</select>

<select id="getLastJgid" parameterType="String" resultType="String">
	select jgid from ss_jg where jglx=#{jglx} order by jgid desc limit 1
</select>

<insert id="addJg" parameterType="dem.login.model.Department" keyColumn="jgid">
	insert into ss_jg(jgid,mc,jglx,jgqy,jgjd,jgwd,jghb,jgdz,jglxr,jglxdh,jgzt,note,lrrq) values(#{jgid},#{mc},#{jglx},#{jgqy},#{jgjd},#{jgwd},#{jghb},#{jgdz},#{jglxr},#{jglxdh},'0',#{note},now())
</insert>
<update id="updateJg" parameterType="dem.login.model.Department">
	update ss_jg
	set mc = #{mc},
		jgqy = #{jgqy},
		jgjd = #{jgjd},
		jgwd = #{jgwd},
		jghb = #{jghb},
		jgdz = #{jgdz},
		jglxr = #{jglxr},
		jglxdh = #{jglxdh},
		note = #{note}
	where jgid = #{jgid}
</update>
<update id="removeJg" parameterType="dem.login.model.Department">
	update ss_jg
	set jgzt = '1'
	where jgid = #{jgid}
</update>

<!-- 条件查询预警信息 -->
<select id="yjlistQuery" parameterType="dem.jcxx.model.YjzwhObject" resultType="Map">
	select yjid,jgid,mc,yjz,note
	from ss_yjfl
	where 1=1 
	<if test="jgid != null and jgid != ''">
		and jgid like "%"#{jgid}"%" 
	</if>
	<if test="mc != null and mc != ''">
		and mc like "%"#{mc}"%" 
	</if>
	<if test="yjid != null and yjid != ''">
		and yjid = #{yjid} 
	</if>
	${sql_paging_sort}
</select>

<update id="updateYj" parameterType="dem.jcxx.model.YjzwhObject">
	update ss_yjfl
	set yjz = #{yjz},
		note = #{note}
	where jgid = #{jgid} 
		and yjid = #{yjid} 
		and mc = #{mc}
</update>

<!-- 查询设备分类类别 -->
<select id="sblblistQuery" parameterType="String" resultType="Map">
	select sbflid,sbcj,fsbflid,sfzl,sblbmc,sbtpdz
	from ss_sbfl
	where yxbz='Y' 
	order by sbcj
</select>
<insert id="sblbInsert" parameterType="dem.jcxx.model.SbflwhObject" keyColumn="sbid">
	insert into ss_sbfl(sbflid,sbcj,fsbflid,sfzl,sblbmc,sbtpdz,yxbz) values(#{sbflid},#{sbcj},#{fsbflid},'1',#{sblbmc},#{sbtpdz},'Y')
</insert>
<update id="sblbDelete" parameterType="dem.jcxx.model.SbflwhObject">
	update ss_sbfl
	set yxbz = 'N'
	where sbflid = #{sbflid}
</update>
<update id="updatesfzl" parameterType="dem.jcxx.model.SbflwhObject">
	update ss_sbfl
	set sfzl = '0'
	where sbflid = #{fsbflid}
</update>

</mapper>