<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dem.sbgl.mapper.SbglMapper">

<!-- 指定设备库存查询 -->
<select id="sbkcquery" parameterType="String" resultType="int">
	select (if(s1.rksl,s1.rksl,0) - if(s3.sysl,s3.sysl,0) - if(s4.cjsl,s4.cjsl,0)) sbkc
	from (select sbflid,sum(rksl) rksl from sbgl_sbrk where sbflid = #{sbflid} group by sbflid) s1 
		left join (select sbflid,count(*) sysl from sbgl_sbsy where sbflid = #{sbflid} group by sbflid) s3 on s1.sbflid=s3.sbflid
		left join (select sbflid,count(*) cjsl from sbgl_sbcj where sbzt='8' and sbflid = #{sbflid} group by sbflid) s4 on s1.sbflid=s4.sbflid
	where s1.sbflid = #{sbflid}
</select>

<insert id="sbrkInsert" parameterType="dem.sbgl.model.SbrkObject">
	insert into sbgl_sbrk(rkid,sbflid,sbmc,sbxh,sccj,ccbh,cgr,cgrq,rkrq,rksl,note) 
	values(#{rkid},#{sbflid},#{sbmc},#{sbxh},#{sccj},#{ccbh},#{cgr},#{cgrq},#{rkrq},#{rksl},#{note})
</insert>
<update id="sbrkUpdate" parameterType="dem.sbgl.model.SbrkObject">
	update sbgl_sbrk
	set 
		sbmc=#{sbmc},
		sbxh=#{sbxh},
		sccj=#{sccj},
		ccbh=#{ccbh} 
	where sbflid=#{sbflid}
</update>
<update id="sbrk2Update" parameterType="dem.sbgl.model.SbrkObject">
	update sbgl_sbrk
	set 
		cgr=#{cgr},
		cgrq=#{cgrq},
		rkrq=#{rkrq},
		rksl=#{rksl},
		note=#{note} 
	where rkid=#{rkid}
</update>
<update id="sbflUpdate" parameterType="dem.sbgl.model.SbrkObject">
	update ss_sbfl
	set sblbmc = #{sbmc}
	where sbflid = #{sbflid}
</update>
<select id="sbsyjlqueryone" parameterType="dem.sbgl.model.SbrkObject" resultType="int">
	select count(*) from sbgl_sbsy where sbflid = #{sbflid}
</select>
<!-- 设备入库记信息查询 -->
<select id="sbrkquery" parameterType="dem.sbgl.model.SbrkQueryCondition" resultType="Map">
	select rkid,s1.sbflid sbflid,s2.sblbmc sblbmc,s2.fsblbmc fsblbmc,sbmc,sbxh,sccj,ccbh,cgr,rksl,date_format(cgrq,'%Y年%m月%d日') cgrq,date_format(rkrq,'%Y年%m月%d日') rkrq,note
	from sbgl_sbrk s1 left join 
	(select s5.sbflid sbflid,s5.sblbmc sblbmc,s6.sblbmc fsblbmc,s6.sbflid fsbflid from ss_sbfl s5 left join (select sblbmc,sbflid from ss_sbfl) s6 on s5.fsbflid=s6.sbflid) s2 on s1.sbflid=s2.sbflid
	where 1=1
	<if test="sbflid != null and sbflid != ''">
		and s1.sbflid like "%"#{sbflid}"%" 
	</if>
	<if test="sblbmc != null and sblbmc != ''">
		and s2.sblbmc like "%"#{sblbmc}"%" 
	</if>
	<if test="rkrq_start != null and rkrq_start != ''">
		and rkrq &gt; #{rkrq_start}
	</if>
	<if test="rkrq_end != null and rkrq_end != ''">
		and rkrq &lt; #{rkrq_end} 
	</if>
	${sql_paging_sort}
</select>
<!-- 设备入库记信息查询 -->
<select id="sbrk2query" parameterType="dem.sbgl.model.SbrkQueryCondition" resultType="Map">
	select s8.sbflid sbflid,s8.sbmc sbmc,sbxh,sccj,ccbh,s8.rksl rksl,s9.sblbmc sblbmc,s7.sbkc sbkc,s11.fsblbmc fsblbmc
	from (select sbflid,sbmc,sbxh,sccj,ccbh,sum(rksl) rksl from sbgl_sbrk group by sbflid) s8
		left join (select s5.sbflid sbflid,s5.sblbmc sblbmc,s6.sblbmc fsblbmc,s6.sbflid fsbflid from ss_sbfl s5 left join (select sblbmc,sbflid from ss_sbfl) s6 on s5.fsbflid=s6.sbflid) s11 on s8.sbflid=s11.sbflid
		left join ss_sbfl s9 on s8.sbflid=s9.sbflid
		left join (select s1.sbflid sbflid, (if(s1.rksl,s1.rksl,0) - if(s3.sysl,s3.sysl,0) - if(s4.cjsl,s4.cjsl,0)) sbkc
					from (select sbflid,sum(rksl) rksl from sbgl_sbrk group by sbflid) s1 
						left join (select sbflid,count(*) sysl from sbgl_sbsy group by sbflid) s3 on s1.sbflid=s3.sbflid
						left join (select sbflid,count(*) cjsl from sbgl_sbcj where sbzt='8' group by sbflid) s4 on s1.sbflid=s4.sbflid) s7
					on s7.sbflid = s8.sbflid	
</select>
<!-- 设备入库记信息统计计数 -->
<select id="sbrkcountquery" parameterType="dem.sbgl.model.SbrkQueryCondition" resultType="int">
	select count(*)
	from sbgl_sbrk s1 left join ss_sbfl s2 on s1.sbflid=s2.sbflid
	where 1=1
	<if test="sbflid != null and sbflid != ''">
		and s1.sbflid like "%"#{sbflid}"%" 
	</if>
	<if test="sblbmc != null and sblbmc != ''">
		and s2.sblbmc like "%"#{sblbmc}"%" 
	</if>
	<if test="rkrq_start != null and rkrq_start != ''">
		and rkrq &gt; #{rkrq_start}
	</if>
	<if test="rkrq_end != null and rkrq_end != ''">
		and rkrq &lt; #{rkrq_end} 
	</if>
</select>
<!-- 查询设备使用记录(表sbgl_sbsy中记录) -->
<select id="sbsyquery" parameterType="dem.sbgl.model.SbsyObject" resultType="Map">
	select xh,rkid,sbgl_sbsy.sbflid sbflid,sbmc,ss1.sccj sccj,ss1.ccbh ccbh,ss1.sbxh sbxh,sbgl_sbsy.jgid jgid,ss_jg.mc jgmc,sbsyr,sbzt,sbgl_sbsy.azr azr,date_format(sbgl_sbsy.azrq,'%Y年%m月%d日') azrq,jdr,date_format(sbgl_sbsy.jdrq,'%Y年%m月%d日') jdrq,wxr,date_format(sbgl_sbsy.wxrq,'%Y年%m月%d日') wxrq,bfr,date_format(sbgl_sbsy.bfrq,'%Y年%m月%d日') bfrq,whr,date_format(sbgl_sbsy.whrq,'%Y年%m月%d日') whrq,sbgl_sbsy.note note 
	from sbgl_sbsy left join ss_jg on sbgl_sbsy.jgid=ss_jg.jgid
					left join (select sbflid,sccj,ccbh,sbxh from sbgl_sbrk group by sbflid) ss1 on sbgl_sbsy.sbflid=ss1.sbflid
	where 1 = 1 
	<if test="jgid != null and jgid != ''">
		and sbgl_sbsy.jgid like "%"#{jgid}"%" 
	</if>
	<if test="jgmc != null and jgmc != ''">
		and ss_jg.mc like "%"#{jgmc}"%" 
	</if>
	<if test="sbmc != null and sbmc != ''">
		and sbmc like "%"#{sbmc}"%" 
	</if>
	<if test="sbzt != null and sbzt != ''">
		and sbzt = #{sbzt} 
	</if>
	<if test="azrq_start != null and azrq_start != ''">
		and azrq &gt; #{azrq_start}
	</if>
	<if test="azrq_end != null and azrq_end != ''">
		and azrq &lt; #{azrq_end} 
	</if>
	${sql_paging_sort}
</select>
<!-- 查询设备使用记录计数(表sbgl_sbsy中记录) -->
<select id="sbsycountquery" parameterType="dem.sbgl.model.SbsyObject" resultType="int">
	select count(*)
	from sbgl_sbsy left join ss_jg on sbgl_sbsy.jgid=ss_jg.jgid
	where 1 = 1 
	<if test="jgid != null and jgid != ''">
		and sbgl_sbsy.jgid like "%"#{jgid}"%" 
	</if>
	<if test="jgmc != null and jgmc != ''">
		and ss_jg.mc like "%"#{jgmc}"%" 
	</if>
	<if test="sbmc != null and sbmc != ''">
		and sbmc like "%"#{sbmc}"%" 
	</if>
	<if test="sbzt != null and sbzt != ''">
		and sbzt = #{sbzt} 
	</if>
	<if test="azrq_start != null and azrq_start != ''">
		and azrq &gt; #{azrq_start}
	</if>
	<if test="azrq_end != null and azrq_end != ''">
		and azrq &lt; #{azrq_end} 
	</if>
</select>
<!-- 设备使用记录新增，即：设备安装后必备信息 -->
<insert id="sbsyinsert" parameterType="dem.sbgl.model.SbsyObject">
	insert into sbgl_sbsy(xh,rkid,sbflid,sbmc,jgid,sbsyr,sbzt,azr,azrq,note) 
	values(#{xh},#{rkid},#{sbflid},#{sbmc},#{jgid},#{sbsyr},'0',#{azr},now(),#{note})
</insert>
<!-- 查询指定设备使用记录 -->
<select id="sbsyqueryone" parameterType="String" resultType="dem.sbgl.model.SbsyObject">
	select * from sbgl_sbsy where xh = #{xh}
</select>
<!-- 设备使用记录数据更新，即：维修、维护、检定、报废、修改   -->
<update id="sbsyupdate" parameterType="dem.sbgl.model.SbsyObject">
	update sbgl_sbsy
	set 
	<if test="jdr != null and jdr != '' and jdr != 'null'">
		jdr = #{jdr},
		jdrq = now(),
	</if>
	<if test="wxr != null and wxr != '' and wxr != 'null'">
		wxr = #{wxr},
		wxrq = now(),
	</if>
	<if test="bfr != null and bfr != '' and bfr != 'null'">
		bfr = #{bfr},
		bfrq = now(),
	</if>
	<if test="whr != null and whr != '' and whr != 'null'">
		whr = #{whr},
		whrq = now(),
	</if>
		sbzt = #{sbzt}
	where xh = #{xh}
</update>
<!-- 设备使用记录删除 -->
<delete id="sbsydelete" parameterType="String">
	delete from sbgl_sbsy where xh = #{xh}
</delete>
<!-- 设备使用历史记录删除 -->
<delete id="sbsy2delete" parameterType="String">
	delete from sbgl_sbsy_his where xh = #{xh}
</delete>
<!-- 设备操作记录新增，即：添加1维修、4维护、3检定、2报废操作的记录 -->
<insert id="sbczinsert" parameterType="dem.sbgl.model.SbsyHisObject">
	insert into sbgl_sbsy_his(xh,rkid,sbflid,sbmc,jgid,sbsylx,czr,czrq,note) 
	values(#{xh},#{rkid},#{sbflid},#{sbmc},#{jgid},#{sbsylx},#{czr},now(),#{note})
</insert>

<!-- 查询设备使用操作记录(表sbgl_sbsy_his中记录) -->
<select id="sbsyjlquery" parameterType="dem.sbgl.model.SbsyHisObject" resultType="Map">
	select sbgl_sbsy_his.sbflid sbflid,sbmc,ss1.sccj sccj,ss1.ccbh ccbh,ss1.sbxh sbxh,sbgl_sbsy_his.jgid jgid,ss_jg.mc jgmc,sbsylx,czr,date_format(czrq,'%Y年%m月%d日') czrq,sbgl_sbsy_his.note note 
	from sbgl_sbsy_his left join ss_jg on sbgl_sbsy_his.jgid=ss_jg.jgid
						left join (select sbflid,sccj,ccbh,sbxh from sbgl_sbrk group by sbflid) ss1 on sbgl_sbsy_his.sbflid=ss1.sbflid
	where 1 = 1 
	<if test="jgid != null and jgid != ''">
		and sbgl_sbsy_his.jgid like "%"#{jgid}"%" 
	</if>
	<if test="jgmc != null and jgmc != ''">
		and ss_jg.mc like "%"#{jgmc}"%" 
	</if>
	<if test="sbmc != null and sbmc != ''">
		and sbmc like "%"#{sbmc}"%" 
	</if>
	<if test="sbsylx != null and sbsylx != ''">
		and sbsylx = #{sbsylx} 
	</if>
	<if test="czrq_start != null and czrq_start != ''">
		and czrq &gt; #{czrq_start}
	</if>
	<if test="czrq_end != null and czrq_end != ''">
		and czrq &lt; #{czrq_end}
	</if>
	${sql_paging_sort}
</select>

<!-- 查询设备使用操作记录计数(表sbgl_sbsy_his中记录) -->
<select id="sbsyjlcountquery" parameterType="dem.sbgl.model.SbsyHisObject" resultType="int">
	select count(*)
	from sbgl_sbsy_his left join ss_jg on sbgl_sbsy_his.jgid=ss_jg.jgid
	where 1 = 1 
	<if test="jgid != null and jgid != ''">
		and sbgl_sbsy_his.jgid like "%"#{jgid}"%" 
	</if>
	<if test="jgmc != null and jgmc != ''">
		and ss_jg.mc like "%"#{jgmc}"%" 
	</if>
	<if test="sbmc != null and sbmc != ''">
		and sbmc like "%"#{sbmc}"%" 
	</if>
	<if test="sbsylx != null and sbsylx != ''">
		and sbsylx = #{sbsylx} 
	</if>
	<if test="czrq_start != null and czrq_start != ''">
		and czrq &gt; #{czrq_start}
	</if>
	<if test="czrq_end != null and czrq_end != ''">
		and czrq &lt; #{czrq_end}
	</if>
</select>
<!-- 查询设备使用操作记录(表sbgl_sbsy_his中记录)数据导出 -->
<select id="sbsyjldataquery" parameterType="dem.sbgl.model.SbsyHisObject" resultType="dem.tjcx.model.FileCreateObject">
	select sbflid,sbmc,sbgl_sbsy_his.jgid jgid,ss_jg.mc jgmc,sbsylx,czr,date_format(czrq,'%Y年%m月%d日') czrq,sbgl_sbsy_his.note note 
	from sbgl_sbsy_his left join ss_jg on sbgl_sbsy_his.jgid=ss_jg.jgid
	where 1 = 1 
	<if test="jgid != null and jgid != ''">
		and sbgl_sbsy_his.jgid like "%"#{jgid}"%" 
	</if>
	<if test="jgmc != null and jgmc != ''">
		and ss_jg.mc like "%"#{jgmc}"%" 
	</if>
	<if test="sbmc != null and sbmc != ''">
		and sbmc like "%"#{sbmc}"%" 
	</if>
	<if test="sbsylx != null and sbsylx != ''">
		and sbsylx = #{sbsylx} 
	</if>
	<if test="czrq_start != null and czrq_start != ''">
		and czrq &gt; #{czrq_start}
	</if>
	<if test="czrq_end != null and czrq_end != ''">
		and czrq &lt; #{czrq_end}
	</if>
	${sql_paging_sort}
</select>
<!-- 设备出借记录查询 -->
<select id="sbcjlistquery" parameterType="dem.sbgl.model.SbcjObject" resultType="Map">
	select xh,rkid,sbflid,sbmc,sbgl_sbcj.jgid jgid,ss_jg.mc jgmc,sbsyr,sbzt,azr,date_format(azrq,'%Y年%m月%d日') azrq,date_format(cjrq,'%Y年%m月%d日') cjrq,date_format(hrrq,'%Y年%m月%d日') hrrq,sbgl_sbcj.note note 
	from sbgl_sbcj left join ss_jg on sbgl_sbcj.jgid=ss_jg.jgid
	order by cjrq
</select>
<!-- 设备出借记录查询计数 -->
<select id="sbcjcountquery" parameterType="dem.sbgl.model.SbcjObject" resultType="int">
	select count(*)
	from sbgl_sbcj 
</select>
<!-- 设备出借记录新增 -->
<insert id="sbcjinsert" parameterType="dem.sbgl.model.SbcjObject">
	insert into sbgl_sbcj(xh,rkid,sbflid,sbmc,jgid,sbsyr,sbzt,azr,azrq,cjrq,note) 
	values(#{xh},#{rkid},#{sbflid},#{sbmc},#{jgid},#{sbsyr},'8',#{azr},#{azrq},now(),#{note})
</insert>
<!-- 设备还入  -->
<update id="sbcjupdate" parameterType="dem.sbgl.model.SbcjObject">
	update sbgl_sbcj
	set hrrq = now(),
		sbzt = '9'
	where xh = #{xh}
</update>

<!-- 设备入库旧数据查询 -->
<select id="addsbrksbidquery" parameterType="dem.sbgl.model.SbrkObject" resultType="String">
	select distinct sbflid 
	from sbgl_sbrk
	where 1=1
	<if test="sbmc != null and sbmc != ''">
		and sbmc = #{sbmc} 
	</if>
	<if test="sbxh != null and sbxh != ''">
		and sbxh = #{sbxh}
	</if>
	<if test="sccj != null and sccj != ''">
		and sccj = #{sccj} 
	</if>
	<if test="ccbh != null and ccbh != ''">
		and ccbh = #{ccbh} 
	</if>
	limit 0,1
</select>
<!-- 设备入库旧数据统计判定 -->
<select id="addsbrkcountquery" parameterType="dem.sbgl.model.SbrkObject" resultType="int">
	select count(*) 
	from sbgl_sbrk
	where 1=1
	<if test="sbmc != null and sbmc != ''">
		and sbmc = #{sbmc} 
	</if>
	<if test="sbxh != null and sbxh != ''">
		and sbxh = #{sbxh}
	</if>
	<if test="sccj != null and sccj != ''">
		and sccj = #{sccj} 
	</if>
	<if test="ccbh != null and ccbh != ''">
		and ccbh = #{ccbh} 
	</if>
</select>

</mapper>